.wrapper {
  background-color: var(--main-bg);
  height: 100vh;
}

.calc {
  width: var(--calc-width);
  margin: 0 auto;
  padding-top: var(--outside-gap);
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title themeToggle"
    "resultPanel resultPanel"
    "keyboard keyboard";

  @media (max-width: $mobile-xs) {
    width: calc(var(--calc-width) * 0.8);
  }

  @media (max-width: $mobile-md) {
    width: calc(var(--calc-width) * 1.2);
  }

  @media (min-width: $mobile-lg) and (orientation: landscape) {
    width: calc(var(--calc-width) * 1.4);
  }

  @media (min-width: $desktop-sm) and (orientation: landscape) {
    padding-top: calc(var(--outside-gap) * 3);
  }

  @media (min-width: $desktop-lg) and (orientation: landscape) {
    padding-top: calc(var(--outside-gap) * 4);
  }

  &__title {
    grid-area: title;
    padding: var(--outside-gap) 0;
  }

  &__themeToggle {
    grid-area: themeToggle;
  }

  &__resultPanel {
    grid-area: resultPanel;
    margin-bottom: var(--outside-gap);
  }

  &__keyboard {
    grid-area: keyboard;
  }
}

.title {
  color: var(--screen-txt);
  font-size: var(--title-font-size);
}

.attribution {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  color: var(--screen-txt);

  @media (min-width: $mobile-lg) and (orientation: landscape) {
    bottom: 20px;
  }
}
.attribution a {
  color: var(--screen-txt);
  font-weight: 700;
}
