.wrapper {
  background-color: var(--main-bg);
  height: 100vh;
}

.calc {
  width: var(--calc-width);
  margin: 0 auto;
  padding-top: var(--outside-gap);
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title themeToggle"
    "resultPanel resultPanel"
    "keyboard keyboard";

  &__title {
    grid-area: title;
    padding: var(--outside-gap) 0;
  }

  &__themeToggle {
    grid-area: themeToggle;
  }

  &__resultPanel {
    grid-area: resultPanel;
    margin-bottom: var(--outside-gap);
  }

  &__keyboard {
    grid-area: keyboard;
  }
}

.title {
  color: var(--screen-txt);
  font-size: var(--title-font-size);
}

.attribution {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  font-weight: 400;
}
.attribution a {
  color: var(--screen-txt);
  font-weight: 700;
}
