.calc {
  margin: 0 $outside-gap;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title themeToggle"
    "resultPanel resultPanel"
    "keyboard keyboard";

  &__title {
    grid-area: title;
    padding: $outside-gap 0;
  }

  &__themeToggle {
    grid-area: themeToggle;
  }

  &__resultPanel {
    grid-area: resultPanel;
    margin-bottom: $outside-gap;
  }

  &__keyboard {
    grid-area: keyboard;
  }
}

.attribution {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  font-weight: 400;
}
.attribution a {
  color: $screen-bg-1;
  font-weight: 700;
}
