.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: $inside-gap;
  padding: $outside-gap;
  background-color: $toggle-keypad-bg-1;

  &__key {
    justify-self: center;
    width: 100%;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    line-height: 60px;
  }
}
