.resultPanel {
  padding: var(--outside-gap);
  border-radius: var(--border-radius-calc);
  background-color: var(--screen-bg);
  color: var(--screen-txt);
  font-size: var(--screen-font-size);
  text-align: right;

  @media (min-width: $mobile-lg) and (orientation: landscape) {
    border-radius: calc(var(--border-radius-calc) * 1.5);
    font-size: calc(var(--screen-font-size) * 1.6);
  }
}
