.resultPanel {
  padding: var(--outside-gap);
  border-radius: var(--border-radius-calc);
  background-color: var(--screen-bg);
  color: var(--screen-txt);
  font-size: var(--screen-font-size);
  text-align: right;
}
