@import "normalize";
@import "variables";
@import "ThemeToggle";
@import "Keyboard";
@import "Key";
@import "ResultPanel";
@import "App.scss";

:root {
  // Layout
  --calc-width: 325px;
  --keyboard-height: 400px;
  // --key-size: 60px;
  --toggle-size: 26px;
  --toggle-switcher-size: calc(var(--toggle-size) * 0.6);
  --toggle-margin: calc(var(--toggle-size) * 0.2);
  --border-radius-calc: 10px;
  --border-radius-key: 5px;
  --outside-gap: 25px;
  --inside-gap: 10px;
  --shadow-size: 4px;

  // Font sizes
  --label-font-size: 16px;
  --screen-font-size: 32px;
  --title-font-size: 38px;

  // Backgrounds

  --main-bg: hsl(222, 26%, 31%);
  --toggle-keypad-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);

  // Keys

  --key-bg: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);

  --equal-key-bg: hsl(6, 63%, 50%);
  --equal-key-shadow: hsl(6, 70%, 34%);

  --func-key-bg: hsl(225, 21%, 49%);
  --func-key-shadow: hsl(224, 28%, 35%);

  // Text

  --main-txt: hsl(221, 14%, 31%);
  --secondary-txt: hsl(0, 0%, 100%);
  --equal-txt: hsl(0, 0%, 100%);
  --screen-txt: hsl(0, 0%, 100%);
}
[data-theme="2"] {
  // Backgrounds

  --main-bg: hsl(0, 0%, 90%);
  --toggle-keypad-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);

  // Keys

  --key-bg: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);

  --equal-key-bg: hsl(25, 98%, 40%);
  --equal-key-shadow: hsl(25, 99%, 27%);

  --func-key-bg: hsl(185, 42%, 37%);
  --func-key-shadow: hsl(185, 58%, 25%);

  // Text

  --main-txt: hsl(60, 10%, 19%);
  --screen-txt: hsl(60, 10%, 19%);
}
[data-theme="3"] {
  // Backgrounds

  --main-bg: hsl(268, 75%, 9%);
  --toggle-keypad-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);

  // Keys

  --key-bg: hsl(281, 89%, 26%);
  --key-shadow: hsl(290, 70%, 36%);

  --equal-key-bg: hsl(176, 100%, 44%);
  --equal-key-shadow: hsl(177, 92%, 70%);

  --func-key-bg: hsl(268, 47%, 21%);
  --func-key-shadow: hsl(285, 91%, 52%);

  // Text

  --main-txt: hsl(52, 100%, 62%);
  --equal-txt: hsl(198, 20%, 13%);
  --screen-txt: hsl(52, 100%, 62%);
}

body {
  font-weight: 700;
}
